In [168]:
#collecting dataset
import sys
import pandas as pd

data = pd.read_csv('insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [169]:
data.corr(method ='pearson')

               age       bmi  children   charges
age       1.000000  0.109272  0.042469  0.299008
bmi       0.109272  1.000000  0.012759  0.198341
children  0.042469  0.012759  1.000000  0.067998
charges   0.299008  0.198341  0.067998  1.000000

In [170]:
data.shape

(1338, 7)

In [171]:
alfa_pearson = 0.0562585

In [172]:
data = data.drop(['sex'], axis=1).drop(['children'], axis=1).drop(['region'], axis=1)

In [173]:
data.head()

   age     bmi smoker      charges
0   19  27.900    yes  16884.92400
1   18  33.770     no   1725.55230
2   28  33.000     no   4449.46200
3   33  22.705     no  21984.47061
4   32  28.880     no   3866.85520

In [176]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data_categ = data.select_dtypes(include=object)

for col in train_categ.head():
    data[col]=le.fit_transform(data_categ[col])

In [177]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(data, test_size=0.2)

In [178]:
from sklearn.linear_model import LinearRegression

X = train.iloc[:,:-1]
y = train.iloc[:,-1]

model = LinearRegression()
model.fit(X, y)

X_test = test.iloc[:,:-1]
y_test = test.iloc[:,-1]
y_predict = model.predict(X_test)

In [179]:
from sklearn.metrics import r2_score

print(r2_score(y_test,y_predict))

0.7810901964387484